.about {
  background-color: var(--off-white);
  gap: 90px;
  padding: 80px;
  color: var(--indigo-dark);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.list-point-about {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
}
.list-point-about li {
  display: flex;
  gap: 10px;
}
.point-about span,
.point-about b {
  font-size: 18px;
  text-align: start;
  line-height: 32px;
}
.point-about b {
  font-family: "eudoxsussans-bold";
}
.point-about span {
  font-family: "eudoxsussans-medium";
  font-size: 17px;
}
.right-content-about {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
}
.right-content-about h1 {
  font-size: 36px;
  font-family: "author-bold";
  font-weight: 700;
  line-height: 64px;
}
.right-content-about p {
  font-size: 16px;
  color: var(--gray-2);
  text-align: justify;
  font-family: "eudoxsussans-regular";
  line-height: 32px;
}
.container-computer {
  max-width: 550px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .about {
    gap: 0px;
    padding: 60px;
    flex-direction: column;
  }
  .right-content-about {
    max-width: 100%;
    text-align: justify;

  }
  .list-point-about {
    display: none;
  }
}
@media (max-width: 768px) {
  .right-content-about h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .right-content-about p {
    font-size: 14px;
  }
  .right-content-about {
    padding: 0px 40px;
  }
  .about {
    padding: 20px;
  }
}
