.berita-terbaru {
  background: var(--deep-purple);
  padding: 40px;
  color: var(--color-white);
}
.wrapp-berita-dan-tombol {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tombol-berita {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--indigo-dark);
  font-size: 1rem;
  font-family: "eudoxsussans-medium";
  line-height: 32px;
  background-color: var(--lime);
  border-radius: 8px;
  padding: 10px 12px;
  transition: background-color 0.3s ease;
}
.tombol-berita:hover {
  background-color: var(--lavender);
}
.wrapp-berita-dan-tombol h1 {
  font-size: 4rem;
  font-family: "author-bold";
}
.grid-berita {
  display: grid;
  padding-top: 2.5rem;
  row-gap: 2rem;
  place-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media (max-width: 480px) {
  .wrapp-berita-dan-tombol {
  align-items: center;
}
  .wrapp-berita-dan-tombol h1 {
    font-size: 2rem;
  }
  .tombol-berita {
    font-weight: 600;
    font-size: 0.5rem;
    padding: 2px 5px;
    font-size: 13px;
  }
}
