# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Dataset (kalau kamu nggak mau upload foto wajah ke repo)
dataset/

# System files
.DS_Store
Thumbs.db
